<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta name="google-site-verification" content="94kCQmsNmDi_1_QhRc3F26JSOMpliDtv-7ZTQSjS1ic" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.baseurl }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1 align="right">{{ site.main_title }}</h1>
		</header>
        <div style="font-family:'Electrolize',sans-serif;color:#00F;font-size:1.1em;text-transform:uppercase; display:block; background-color:#D2CBCB;text-align:right">
          <span><a title="home" href="{{ site.baseurl }}/">HOME</a></span>
		  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><a title="Article" href="{{ site.baseurl }}/article/">ARTICLE</a></span>
		  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><a title="Letter" class="" href="{{ site.baseurl }}/letter/">LETTER</a></span>
		  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><a title="Review" class="" href="{{ site.baseurl }}/review/">REVIEW</a></span>
		  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><a title="Communication" class="" href="{{ site.baseurl }}/communication/">COMMUNICATION</a></span>
		  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><a title="Scripts" href="{{ site.baseurl }}/scripts/">Scripts</a></span>
		</div>
        <header>
        <h1>{{ page.title }}</h1>
		</header>
        <nav>
        <span><a title="home page" class="" href="{{ site.baseurl }}/">home</a></span>
        <span><a title="about" class="" href="{{ site.baseurl }}/about/">about</a></span>
        <span><a title="publication" class="" href="{{ site.baseurl }}/publication/">publication</a></span>
        <span><a title="guestbook" class="" href="{{ site.baseurl }}/guestbook/">guestbook</a></span>
        <span><a title="vitae" class="" href="{{ site.baseurl }}/vitae/">vitae</a></span>
        <span><a title="assessment" class="" href="{{ site.baseurl }}/assessment/">assessment</a></span>
        <span><a title="motto" class="" href="{{ site.baseurl }}/motto/">motto</a></span>
        <span><a title="dharma" class="" href="{{ site.baseurl }}/dharma/">dharma</a></span>
        <span><a title="stories" class="" href="{{ site.baseurl }}/stories/">stories</a></span>
        <span><a title="categories" class="" href="{{ site.baseurl }}/categories/">categories</a></span>
        <span><a title="tags" class="" href="{{ site.baseurl }}/tags/">tags</a></span>
        <span><a title="links" class="" href="{{ site.baseurl }}/links/">links</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.baseurl }}/feed/">subscribe</a></span>
        <span><a title="how-to" class="" href="{{ site.baseurl }}/how-to/">how-to</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
	<!--google search -->
		<script>
		  (function() {
			var cx = '004481164118709579990:nuv6224gela';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//www.google.com/cse/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
    <!--google search -->
	<!--google analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-8559173-2', 'tianxia-world.tk');
		  ga('send', 'pageview');
		</script>
	<!--google analytics -->
	
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1988641-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
